body {
  display: flex;
  flex-direction: column;

  text-align: center;
  height: 100vh;
}

div {
  align-items: center;
}
.game {
  height: 600px;
  width: 400px;
  border: 2px solid black;
  position: relative;
  margin: auto;

  display: flex;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; */
}

#player {
  height: 50px;
  width: 50px;
  background-image: url(imgs/boxer.jpeg);
  background-size: 50px 50px;
  position: absolute;
  left: 175px;

  align-self: flex-end;
}

#obstacle {
  height: 50px;
  width: 50px;
  background-image: url(imgs/obstacle.jpeg);
  background-size: 50px 50px;
  position: relative;
}

#score {
  /* background-color: aqua; */
}
