@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Mouse+Memoirs&display=swap');

body {
  display: flex;
  flex-direction: column;

  /* align-items: center; */
}

h1 {
  font-family: 'Mouse Memoirs', sans-serif;
  color: #808000;
  margin: 1em 1em 1em 1em;
  letter-spacing: 1.8px;
  font-size: 2.8em;
}

.page-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  height: 100vh;
  margin: 0;
  background-color: #f7e7ce;
}

.rules {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Barlow', sans-serif;
  margin: 0 1em 2em 1em;
}

li {
  list-style: none;
  letter-spacing: 1.8px;
  padding-bottom: 7px;
}

li:before {
  content: '\2765';
}

#player {
  height: 50px;
  width: 50px;
  background-image: url(imgs/boxer.jpeg);
  background-size: 50px 50px;
  position: relative;

  align-self: flex-end;
}

.jump {
  animation-name: jump;
  animation-duration: 0.6s; /*600ms */
  animation-timing-function: linear;
}

@keyframes jump {
  0% {
    bottom: 0px;
  }
  25% {
    bottom: 80px;
  }
  50% {
    bottom: 160px;
  }
  75% {
    bottom: 80px;
  }
  100% {
    bottom: 0px;
  }
}

#obstacle {
  height: 60px;
  width: 40px;
  background-image: url(imgs/fire-hydrant.jpeg);
  background-size: 40px 60px;
  position: relative;
  left: 550px;

  align-self: flex-end;
}

@keyframes slide {
  0% {
    left: 620px;
  }
  100% {
    left: -100px;
  }
}

#bone {
  height: 30px;
  width: 50px;
  background-image: url(imgs/bone.jpeg);
  background-size: 50px 30px;
  position: relative;
  left: 200px;
  top: 100px;

  animation: slide 8s linear infinite;
}

@keyframes btn {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

.btn {
  padding: 0.35em 1.2em;
  border: 0.1em solid #ab6d6d;
  border-radius: 0.4em;
  font-weight: 700;
  color: #ab6d6d;
  transition: all 0.2s;
  animation: btn 6s infinite linear;
  position: relative;
  font-family: 'Barlow', sans-serif;
  letter-spacing: 1.8px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.btn:hover {
  color: #cc7722;
  background-color: #ffffff;
  border: 0.1em solid #cc7722;
}

.page-2 {
  background-color: #f7e7ce;
  display: flex;
  align-items: center;
}

.game {
  display: flex;

  height: 260px;
  width: 700px;
  border: 0.3em inset #bebebe;
  position: relative;
  margin-bottom: 4em;
  background-color: #ffffff;
  cursor: pointer;
}

.btn2 {
  padding: 0.35em 1.2em;
  border: 0.1em solid #ab6d6d;
  border-radius: 0.4em;
  font-weight: 700;
  color: #ab6d6d;
  font-family: 'Barlow', sans-serif;
  letter-spacing: 1.8px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.btn2:hover {
  color: #cc7722;
  background-color: #ffffff;
  border: 0.1em solid #cc7722;
  animation: btn 6s infinite linear;
  position: relative;
  transition: all 0.1s;
}

#background {
  background-image: url(https://www.angelsagainstabuse.org/wp-content/uploads/2018/11/white-background-with-grass.jpg);
  background-size: 700px 260px;
  position: relative;
}

#score {
  display: flex;
}
